footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 48px 100px;
}

footer p::before {
  padding-right: 16px;
  content: "";
  background-image: url("/assets/images/desktop/icons/copyright-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

footer p {
  color: var(--txt-sec);
  font: var(--p-desk);
}
footer a {
  color: var(--txt-sec);
  text-decoration: none;
}
footer a:hover {
  color: var(--txt-prim);
}

@media (max-width: 1080px) {
  footer {
    padding: 20px 24px;
  }
  footer p {
    font: var(--p-mob);
  }
  footer p::before {
    padding-right: 8px;
    content: "";
    background-image: url("/assets/images/desktop/icons/copyright-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}
