@import url(/assets/css/global.css);
@import url(/assets/css/header.css);
@import url(/assets/css/main.css);
@import url(/assets/css/poemas.css);
@import url(/assets/css/fotos.css);
@import url(/assets/css/footer.css);